<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FrontBlazor_AppiGenericaCsharp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="red">
                <span class="bi bi-diagram-3-fill-nav-menu" aria-hidden="true"></span> CRUD Red
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="investigacion">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> CRUD Investigación
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aliado">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> CRUD Aliado
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gestion-profesoral">
                <span class="bi bi-person-vcard-fill-nav-menu" aria-hidden="true"></span> Gestión Profesoral
            </NavLink>
        </div>

 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gestion-profesoral-tablas">
                <span class="bi bi-table-nav-menu" aria-hidden="true"></span> Tablas Gestión Profesoral
            </NavLink>
        </div>
       